h3
{
	margin-bottom: 0.6em;
}

.tablinks
{
	position: absolute;
	top: 50px;
	overflow: hidden;
	border: 1px solid #bbb;
	background-color: #f1f1f1;
	float: left;
	outline: none;
	cursor: pointer;
	padding: 12px 20px;
	transition: 0.3s;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;
}

.tablinks:hover
{
	background-color: #00ff90;
}

.tablinks.active
{
	background-color: #4cff00;
}

.tabcontent
{
	font-family: 'Comic Sans MS', cursive, sans-serif;
	text-align:center;
	font-size: 24px;
	position: absolute;
	top: 85px;
	display: none;
	padding: 0px 24px;
	animation: fadeEffect 1s;
}

p
{
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

@keyframes fadeEffect
{
	from {opacity: 0;}
	to {opacity: 1;}
}

a:after
{    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	left: 50%;
	position: absolute;
	background: #5900bd;
	transition: width 0.5s ease 0s, left 0.5s ease 0s;
	width: 0;
}

a:hover:after
{ 
	width: 100%; 
	left: 0; 
}