.infoPic
{
	margin-top: 0.6em;
	margin-bottom: 0.85em;
	cursor: pointer;
}

.popup
{
	position: absolute;
	left: 910px;
	top: 190px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext
{
	visibility: hidden;
	width: 130px;
	height: 150px;
	background-color: #555;
	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 8px 8px;
	position: absolute;
	z-index: 1;
	bottom: 0%;
	left: 50%;
	margin-left: 24px;
}

/* Toggle this class - hide and show the popup */
.popup .show
{
	visibility: visible;
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn
{
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn
{
	from {opacity: 0;}
	to {opacity:1 ;}
}