.notes
{
	height:28px;
	width:43px;
	border: 2px solid #000;
	border-radius: 100px;
	padding: 5px;
	display: block;
	margin-left: 60px;
	margin-top: 20px;
}

.coloms
{
	position: absolute;
	top: 52px;
	padding: 232px 30px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	opacity: 0.5;
}

.linesNotes
{
	display: none;
	position: absolute;
}

.chat
{
	position: absolute;
	right: 150px;
	top: 150px;
}